{{#each this}}
    <div class="{{#unless replied_to_id}}yam{{/unless}} {{#if replied_to_id}}yam reply{{/if}}" id="{{id}}">
        <div class="userimg"><img src="{{this.mugshot_url}}" height="96" width="96"/></div>

        <div class="content">
            <div class="sender">
                <a {{link_helper}}="https://www.yammer.com/users/{{username}}">
                    {{full_name}}
                </a>
                {{#if replied_to_id}}
                    <span class="in_reply_to"> in reply to {{in_reply_to}}</span>
                {{/if}}
            </div>

            <div class="message">
                <span class="messagebody">{{{body.rich}}}
                    {{#each attachments}}
                        {{#if body}}
                            <span class="repost">{{{body.plain}}}</span>
                        {{/if}}
                        {{#if praised_user_ids}}
                            <div class="praised">
                                <span>{{description}}</span>
                                <span class="praise {{icon}}"><em>{{comment}}</em></span>
                            </div>
                        {{/if }}
                    {{/each}}
                </span>

                {{#if attachments}}
                    <div class="attachments">
                        {{#each attachments}}
                            {{#if image}}
                                <img class="attachment" src="{{image.url}}">
                            {{/if }}

                            {{#if file}}
                                <div class="document clr">
                                    <span class="item"><a href="{{file.url}}"><img src="{{large_icon_url}}" /><span class="download">Download</span></a></span>
                                    <span class="name">{{full_name}}</span>
                                </div>
                            {{/if }}

                            {{#if ymodule}}
                                <div class="document clr">
                                    {{#if thumbnail_url}}
                                    <span class="item clr"><a href="{{web_url}}"><img src="{{thumbnail_url}}" width="96px" /></a></span>
                                    {{/if}}
                                    <span class="name clr"><a href="{{web_url}}">{{name}}</a></span>
                                </div>
                            {{/if }}
                        {{/each}}
                    </div>
                {{/if}}
            </div>

            {{#if thread_id}}
                {{#unless replied_to_id}}
                    {{update_count}}
                {{/unless}}
            {{/if}}

            <div class="metadata">
                <span class="messageinfo">Posted <a {{link_helper}}="{{web_url}}" target="_blank" class="creationdate unformatted" data-time="{{created_at}}">{{created_at}}</a> in <a {{link_helper}}="{{group_url}}">{{group_name}}</a>
                </span>
            </div>

            {{#if liked_by.count}}
                <div class="likedby">
                    {{like_count}} this post.
                </div>
            {{/if}}
        </div>
    </div>
{{/each}}